<div style="width: 85vw;">

    <div *ngIf="!existingUserDetails || updateUsers" class=" relative" style="height: 85vh;">
        <div class="flex text-3xl font-semibold text-blue-900 mb-2 p-6 header-bg-grad-lit">   
            <h1 class="mr-2">Role Name -</h1> <h1>{{selectedRoleName}}</h1>
        </div> 
        <div class="m-4">
            <div class="mt-1 text-base  font-medium">
                <p>Add users for the above role</p>
            </div>

            <div>
                <div class="flex">
                    <div>
                        <a class="text-primary-900 font-semibold" href='assets/docs/gradlit_user_role_assign.xlsx' download>
                            Download a sample template 
                            <mat-icon style="color: #001E52 !important;padding-top: 16px;">download</mat-icon>
                         </a>
                    </div>
                </div>
            </div>
            
            
        
            <div class="flex mt-13">
            <div class="flex items-center">
                <p class="text-lg">Choose File</p>
            </div>
                <div class="flex items-center">
                    <input
                        id="document-file-input"
                        class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                        type="file"
                        #post_documet
                        (change)="onFileUpload($event)"
                        [multiple]="false"
                        [accept]="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
                       >
                    <label
                        class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-gray-400 hover:bg-opacity-20 dark:hover:bg-black dark:hover:bg-opacity-5"
                        for="document-file-input"
                        matRipple>
                        <mat-icon [svgIcon]="'heroicons_outline:document-text'"></mat-icon>
                    </label>
                    <span *ngIf="usersDetailFile?.name" class="text-md font-semibold">{{usersDetailFile?.name}}</span>
                </div>
            </div>
            
            <div class="min-w-256 absolute bottom-1">
                <div class="my-10 flex justify-end mt-2">
                    <button mat-raised-button style="background-color: #001E52"  color="primary" (click)="onAddUsers()">Add Users</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="existingUserDetails && !updateUsers">
        <div>
            <div class="flex text-4xl font-semibold text-blue-900 m-2 p-2 justify-between">  
                <div class="flex">
                    <h1 class="mr-2">Role -</h1> <h1>{{selectedRoleName}}</h1>
                </div> 
                <div>
                    <div class="flex justify-end">
                        <button mat-raised-button style="background-color: #001E52"  color="primary" (click)="onUpdateUsers()">Add Users</button>
                    </div>
                </div>
            </div> 
            <div class="w-4/5 m-2 p-2">
                <mat-table  #table [dataSource]="existingUserDetails" matSort>
                    <!-- First Column ID-->
                    <ng-container matColumnDef="user">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="userID">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> User ID</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.usn}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="department">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Department</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element?.department?.Name}} </mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <!-- <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Edit </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                                color="primary" (click)="onClickEdit(element)">
                                <mat-icon style="color: #001E52 !important">edit</mat-icon>
                            </button> </mat-cell>
                    </ng-container> -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <button (click)="onDeleteUser(element)" mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                                color="warn">
                                <mat-icon>delete</mat-icon>
                            </button> 
                        </mat-cell>
                    </ng-container>
            
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            
        </div>
    </div>
</div>

