<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Student</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Circular</a>
                </div>
            </div> 
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Circular
                </h2>
                <button class="font-semibold" style="color:#453ac6" (click)="onCreateCircular()">Create Circular</button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div>
            <!-- Card #65 -->
            <div *ngFor="let eachAnnouncement of allAnnouncement" style="border: solid 1px black;
            padding: 10px;
            border-radius: 10px; margin-top:10px">
                <div class="font-semibold flex justify-between ">
                    {{eachAnnouncement.heading}}
                    <button
                    class="px-3 mr-1"
                    mat-button>
                    <mat-icon
                        class="icon-size-5 text-red-500"
                        [svgIcon]="'heroicons_solid:download'"></mat-icon>
                        <a [href]="eachAnnouncement?.file_path" download="attachedFile.txt"><span class="ml-2">Download</span></a>
                </button>
                </div>
                <div>
                    {{eachAnnouncement.description}}
                </div>
                <!-- <div>
                    <p class="font-semibold">Created By</p>
                    <P>{{eachAnnouncement.created_by.name}}</P>
                </div> -->
                <!-- <div>
                    <button
                    class="px-3 mr-1"
                    mat-button>
                    <mat-icon
                        class="icon-size-5 text-red-500"
                        [svgIcon]="'heroicons_solid:download'"></mat-icon>
                        <a [href]="eachAnnouncement?.file_path" download="attachedFile.txt"><span class="ml-2"></span></a>
                </button>
                </div> -->
            </div>
        </div>
    </div>
</div>
