<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <!-- Breadcrumbs -->
            <div class="flex flex-wrap items-center font-medium">
                <div>
                    <a class="whitespace-nowrap text-primary-500">Student</a>
                </div>
                <div class="flex items-center ml-1 whitespace-nowrap">
                    <mat-icon
                        class="icon-size-5 text-secondary"
                        [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
                    <a class="ml-1 text-primary-500">Clubs</a>
                </div>
            </div> 
            <!-- Title -->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Clubs
                </h2>
                <button class="font-semibold" style="color:#453ac6" (click)="onCreateClub()">Create Club</button>
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-wrap items-start w-full max-w-400 -m-4">
            <!-- Card #65 -->
            <fuse-card *ngFor="let eachClub of allClubs" class="flex flex-col max-w-80 w-full filter-article m-4">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-1">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/male-04.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">{{eachClub.display_name}}</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>
                </div>
                <div class="m-6 sm:mx-8">
                    <div>
                        <p>About this Club</p>
                        {{eachClub.description}}
                    </div>
                    <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                    <p><span class="font-semibold">Created By :</span> {{eachClub.created_by.name }}</p>
                    <button>Join Club</button>
                </div>
            </fuse-card>
        </div>
    </div>
</div>
