<div class="m-4 w-full min-h-180 relative">
    <div class="w-4/5">
        <div>
            <h1 class="font-semibold text-xl mb-4">Add New Club</h1>
        </div>

        <div class="flex">
            <div class="flex flex-col gt-xs:flex-row w-1/2">
                <mat-form-field class="flex-auto gt-xs:pr-3 w-full">
                    <mat-label>Club name</mat-label>
                    <input matInput [(ngModel)]="clubName" placeholder="club name">
                </mat-form-field>
            </div>

            <div class="flex flex-col gt-xs:flex-row ml-8 w-1/2">
                <mat-form-field class="flex-auto gt-xs:pr-3 w-full">
                    <mat-label>Display Name</mat-label>
                    <input matInput [(ngModel)]="clubDisplayName" placeholder="display name">
                </mat-form-field>
            </div>
        </div>


        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Brief Description</mat-label>
                <textarea matInput [(ngModel)]="clubDesc" cdkTextareaAutosize [cdkAutosizeMinRows]="3"></textarea>
            </mat-form-field>
        </div>

        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field class="flex-auto gt-xs:pr-3 w-full">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" placeholder="email">
            </mat-form-field>
        </div>
        <div class="flex flex-col gt-xs:flex-row">
            <div class="font-medium">Select Admins</div>
            <ng-select (add)="onAdminSelected($event)"  [loading]="false" (remove)="onUserRemoved($event)"  [hideSelected]="true" (search)="onUserSearched($event)" [multiple]="true">
                <ng-option *ngFor="let eachUser of searchedUserResult" [value]="eachUser.id">{{eachUser.name}}</ng-option>
             </ng-select>
        </div>




        <div>
            <input id="image-file-input" class="absolute h-0 w-0 opacity-0 invisible pointer-events-none" type="file"
                [multiple]="false" (change)="onFileUpload($event)" [accept]="'image/jpeg, image/png'">
            <label class="flex items-center justify-center w-24 h-10 rounded-full cursor-pointer bg-gray-300"
                for="image-file-input" matRipple>
                <span>Add Logo</span>
                <!-- <mat-icon [svgIcon]="'heroicons_outline:photograph'"></mat-icon> -->
            </label>
        </div>

        <div *ngIf="imageUrl" class="mt-5">
            <img class="w-full object-cover" [src]="imageUrl" style="height: 200px;">
        </div>
    </div>

    <div class="my-10 mt-8 w-full absolute bottom-6">
        <div class="flex justify-end">
            <button (click)="onAddClub()" style="background-color: #001E52; width: 150px;" mat-raised-button color="primary">Add Club</button>
        </div>
    </div>

</div>