<div class="w-full">
    <div class="p-6 flex justify-between header-bg-grad-lit">
        <p class="text-3xl font-semibold flex">Roles</p>
        <div>
            <button [routerLink]="'/student/roles/add-roles'" mat-raised-button style="background-color: #001E52; color: white;">Add Role</button>
        </div>
    </div>
    
    <div class="w-4/5 m-6">
    
        <mat-table #table [dataSource]="dataSource" matSort>
            <!-- First Column ID-->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role Name </mat-header-cell>
                <mat-cell class="cursor-pointer" (click)="onRoleClick(element)" *matCellDef="let element"> {{element.Name}} </mat-cell>
            </ng-container>
    
            <!-- Second Column -->
            <!-- <ng-container matColumnDef="TotalUser">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Total User </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element?.TotalUser}} </mat-cell>
            </ng-container> -->
    
            <!-- Third Column -->
            <!-- <ng-container matColumnDef="CreatedBy">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Created By </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <div class="form-group">
                        <a target="_blank" (click)="onNavigate(element.productCode)" href="#">{{element?.CreatedBy}}</a>
                    </div>
                </mat-cell>
            </ng-container> -->
            <!-- Action Column -->
            <ng-container matColumnDef="Actions">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                <mat-cell style="padding-left:0px !important" *matCellDef="let element"> <button mat-icon-button class="iconbutton"
                        color="primary" (click)="onClickEdit(element)">
                        <mat-icon style="color: #001E52 !important;">edit</mat-icon>
                    </button>
                    <button mat-icon-button class="iconbutton"
                    (click)="onClickDelete(element.id)" color="warn">
                    <mat-icon>delete</mat-icon>
                </button>  </mat-cell>
            </ng-container>
            <!-- <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Delete </mat-header-cell>
                <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
                        (click)="onClickDelete(element.id)" color="warn">
                        <mat-icon>delete</mat-icon>
                    </button> </mat-cell>
            </ng-container> -->
    
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row id="grad-lit-table-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>


