<div class="flex flex-wrap mx-20 justify-center">
    <fuse-card  class="flex min-w-90 flex-col max-w-80 h-100 w-full filter-article m-4 hover:shadow-xl hover:cursor-pointer"> 
        <div class="flex justify-center bg-orange-100">
            <p class="text-blue-900 m-3">Departments</p>
        </div>
        <div class="felx justify-center items-center m-10">
            <p class="text-center text-9xl">46</p>  
        </div>
    </fuse-card> 
    <fuse-card  class="flex min-w-90 flex-col max-w-80 h-100 w-full filter-article m-4 hover:shadow-xl hover:cursor-pointer"> 
        <div class="flex justify-center bg-purple-100">
            <p class="text-blue-900 m-3">Roles</p>
        </div>
        <div class="felx justify-center items-center m-10">
            <p class="text-center text-9xl">46</p>  
        </div>
    </fuse-card> 
    <fuse-card  class="flex min-w-90 flex-col max-w-80 h-100 w-full filter-article m-4 hover:shadow-xl hover:cursor-pointer"> 
        <div class="flex justify-center bg-red-100">
            <p class="text-blue-900 m-3">Clubs</p>
        </div>
        <div class="felx justify-center items-center m-10">
            <p class="text-center text-9xl">46</p>  
        </div>
    </fuse-card> 
    <fuse-card  class="flex min-w-90 flex-col max-w-80 h-100 w-full filter-article m-4 hover:shadow-xl hover:cursor-pointer"> 
        <div class="flex justify-center bg-green-100">
            <p class="text-blue-900 m-3">Circulars</p>
        </div>
        <div class="felx justify-center items-center m-10">
            <p class="text-center text-9xl">46</p>  
        </div>
    </fuse-card> 
    <fuse-card  class="flex min-w-90 flex-col max-w-80 h-100 w-full filter-article m-4 hover:shadow-xl hover:cursor-pointer"> 
        <div class="flex justify-center bg-blue-100">
            <p class="text-blue-900 m-3">Total Users</p>
        </div>
        <div class="felx justify-center items-center m-10">
            <p class="text-center text-9xl">46</p>  
        </div>
    </fuse-card> 
</div>
