<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-80 object-cover"
                src="assets/images/pages/profile/cover.jpg"
                alt="Cover image">
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card"
                    src="assets/images/avatars/male-04.jpg"
                    alt="User avatar">
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">Preetham Raju</div>
                <div class="text-secondary">Bengaluru, Karnataka</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWERS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWING</span>
                </div>
            </div>

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-full mx-auto p-6 sm:p-8">

        <!-- Column -->
        <div class="hidden lg:flex flex-col items-start mr-8">

            <!-- About me -->
            <fuse-card class="flex flex-col max-w-80 w-full p-8">
                <div class="text-2xl font-semibold leading-tight">About Me</div>
                <div class="mt-4">
                    I'm excited to start my studies and can't wait to see what the future holds for me.<br><br>
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <span class="leading-none">1MS16ME18</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:academic-cap'"></mat-icon>
                        <span class="leading-none">Semester 6</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">April, 24</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:device-mobile'"></mat-icon>
                        <span class="leading-none">+91 9008866777</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                        <span class="leading-none">preethamRaju@gmail.com</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:external-link'"></mat-icon>
                        <span class="leading-none"><a href="javaScript:vaoid(0);">https://sujitakulwar.github.io</a></span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">Bengaluru, Karnataka</span>
                    </div>
                </div>
            </fuse-card>

            <!-- Groups -->
            <!-- <fuse-card class="flex flex-col max-w-80 w-full mt-8 px-8 pt-6 pb-4">
                <div class="flex items-center justify-between">
                    <div class="text-2xl font-semibold leading-tight">Follow College Club</div>
                </div>
                <div class="flex flex-col mt-5">
                    <div class="flex items-center">
                        <img
                            class="w-14 h-14 mr-4 rounded object-cover"
                            src="assets/images/cards/coffee-shop-01-320x200.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col min-w-0">
                            <div class="font-medium leading-none">EDC - RIT</div>
                            <div class="text-md truncate leading-none mt-1">Subscribe for updates</div>
                            <div class="text-md leading-none text-secondary mt-2">1.2k followers</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-6">
                        <img
                            class="w-14 h-14 mr-4 rounded object-cover"
                            src="assets/images/cards/coffee-shop-02-512x512.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col min-w-0">
                            <div class="font-medium leading-none">DECA</div>
                            <div class="text-md truncate leading-none mt-1">Subscribe for updates</div>
                            <div class="text-md leading-none text-secondary mt-2">957 followers</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-6">
                        <img
                            class="w-14 h-14 mr-4 rounded object-cover"
                            src="assets/images/cards/coffee-shop-03-320x320.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col min-w-0">
                            <div class="font-medium leading-none">Inferno</div>
                            <div class="text-md truncate leading-none mt-1">Subscribe for updates</div>
                            <div class="text-md leading-none text-secondary mt-2">342 followers</div>
                        </div>
                    </div>
                    <div class="flex items-center mt-6">
                        <img
                            class="w-14 h-14 mr-4 rounded object-cover"
                            src="assets/images/cards/sneakers-01-320x200.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col min-w-0">
                            <div class="font-medium leading-none">SME</div>
                            <div class="text-md truncate leading-none mt-1">Subscribe for updates</div>
                            <div class="text-md leading-none text-secondary mt-2">4.7k followers</div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mt-6 -mx-3">
                    <a
                        class="px-3"
                        mat-button
                        [color]="'primary'"
                        [routerLink]="['./']">
                        See all groups
                    </a>
                </div>
            </fuse-card> -->

        </div>

        <!-- Column -->
        <div class="flex flex-col items-start">

            <!-- Post 1 -->
            <!-- <fuse-card
                class="flex flex-col max-w-200 w-full"
                #expandableCard02="fuseCard">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Caroline Lundu</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>
                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Look at that sky! I so want to be there.. Can we arrange a trip? Is that a possibility? Please!!!
                </div>
                <div class="relative mb-4">
                    <img
                        class="h-80 object-cover"
                        src="assets/images/cards/14-640x480.jpg"
                        alt="Card cover image">
                    <div
                        class="absolute bottom-0 left-0 flex items-center justify-center w-8 h-8 m-4 rounded-full cursor-pointer bg-gray-700"
                        [matTooltip]="'Barmouth / UK'"
                        [matTooltipPosition]="'right'">
                        <mat-icon
                            class="icon-size-4 text-gray-100"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-4"
                            mat-button
                            (click)="expandableCard02.expanded = !expandableCard02.expanded">
                            <span class="mr-1">5 Comments</span>
                            <mat-icon
                                class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                [ngClass]="{'rotate-180': expandableCard02.expanded}"
                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                        </button>
                    </div>
                </div>

                <ng-container fuseCardExpansion>
                    <hr class="border-b m-0">
                    <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                        <div class="flex items-start">
                            <img
                                class="w-12 h-12 rounded-full mr-5"
                                src="assets/images/avatars/brian-hughes.jpg"
                                alt="Card cover image">
                            <mat-form-field
                                class="w-full"
                                [subscriptSizing]="'dynamic'">
                                <textarea
                                    matInput
                                    [placeholder]="'Write a comment...'"
                                    [rows]="3"
                                    cdkTextareaAutosize></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex items-center mt-3 ml-auto -mr-3">
                            <button mat-icon-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:sparkles'"></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr class="border-b mx-4 sm:mx-8 my-0">
                    <div class="max-h-120 overflow-y-auto">
                        <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                            <div class="flex items-start">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/male-05.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Rutherford Brannan</b> Oh, I’m in.. Let’s arrange a trip for the next weekend if you want!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Hide replies</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>17 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Yes!! Let's talk about it on lunch!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>15 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/female-08.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Barbara Cotilla</b> Count me in !!!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>12 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> The color of the sky doesn’t look natural at all, do you really think this is natural? I’d say Photoshop!
                                        Your trip isn't going to worth it since you won't be seeing this exact sky.
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Hide replies</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>24 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Hey, Alan! You must be fun at parties!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>22 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> Caroline, I'm telling the truth, and if you cannot stand the truth, maybe we shouldn't be friends anymore...
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>20 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Dude! Relax! I'm just messing with you...
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>18 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> Sorry! I had a bad morning, let's talk about this in couple hours, I need to relax a bit :(
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>16 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8">
                                <img
                                    class="w-8 h-8 rounded-full mr-4"
                                    src="assets/images/avatars/female-05.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Marleah Eagleston</b> Count me in, too!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <span class="mr-2 cursor-pointer hover:underline">Like</span>
                                        <span class="mr-2 cursor-pointer hover:underline">Reply</span>
                                        <span class="mr-2">&bull;</span>
                                        <span>34 min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card> -->

            <!-- Post 2 -->
            <!-- <fuse-card class="flex flex-col max-w-200 w-full mt-8">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-1">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Caroline Lundu</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>
                </div>
                <div class="m-6 sm:mx-8">
                    <p>
                        We'll put a happy little sky in here. We touch the canvas, the canvas takes what it wants. A little happy sunlight shining through there.
                        Let's build some happy little clouds up here. I was blessed with a very steady hand; and it comes in very handy when you're doing these little delicate
                        things. This is the fun part.
                    </p>
                    <p class="mt-4">
                        Isn't it great to do something you can't fail at? Little trees and bushes grow however makes them happy.
                        Trees get lonely too, so we'll give him a little friend. There are no mistakes. You can fix anything that happens.
                    </p>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card> -->

            <!-- Post 3 -->
            <fuse-card class="flex flex-col max-w-200 w-full">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/male-04.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Preetham Raju</span>
                        <span class="text-sm text-secondary leading-none mt-1">Mechanical Engineering</span>
                    </div>
                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Winner of HIPA International Photography Award
                </div>
                <div class="flex mx-6 sm:mx-8 mb-4">
                    <div class="flex h-80 pr-1">
                        <img
                            class="rounded object-cover"
                            src="assets/images/cards/17-640x480.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex flex-col pl-1">
                        <div class="flex h-40 pb-1">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/18-640x480.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="flex h-40 pt-1">
                            <img
                                class="rounded object-cover"
                                src="assets/images/cards/19-640x480.jpg"
                                alt="Card cover image">
                        </div>
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card>

            <!-- Post 4 -->
            <!-- <fuse-card class="flex flex-col max-w-200 w-full mt-8">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-medium leading-none">Caroline Lundu</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>
                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Hey!! I never saw this one, it was amazing.. I think I’m going to buy myself a set and try his technique at home!
                </div>
                <div class="mx-6 sm:mx-8 mb-4">
                    <div class="flex flex-col rounded overflow-hidden border">
                        <div class="flex h-80">
                            <img
                                class="object-cover"
                                src="assets/images/cards/36-640x480.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="m-4">
                            <div class="text-lg font-medium">Take a look behind the scenes of Rob Boss episodes</div>
                            <div class="text-secondary mt-1">
                                We'll put a happy little sky in here. We touch the canvas, the canvas takes what it wants. A little happy sunlight shining through there.
                            </div>
                            <div class="text-sm text-hint mt-2">example.com</div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card> -->

            <!-- Post 5 -->
            <fuse-card class="flex flex-col max-w-200 w-full mt-8">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/male-04.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Preetham Raju</span>
                        <span class="text-sm text-secondary leading-none mt-1">Mechanical Engineering</span>
                    </div>

                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Carmignac Photojournalism Award winner
                </div>
                <div class="flex mx-6 sm:mx-8 mb-4">
                    <div class="flex h-80 pr-1">
                        <img
                            class="rounded object-cover"
                            src="assets/images/cards/15-640x480.jpg"
                            alt="Card cover image">
                    </div>
                    <div class="flex h-80 pl-1">
                        <img
                            class="rounded object-cover"
                            src="assets/images/cards/16-640x480.jpg"
                            alt="Card cover image">
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card>

            <!-- Post 6 -->
            <!-- <fuse-card class="flex flex-col max-w-200 w-full mt-8">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img
                        class="w-10 h-10 rounded-full mr-4"
                        src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Caroline Lundu</span>
                        <span class="text-sm text-secondary leading-none mt-1">29 minutes ago</span>
                    </div>

                </div>
                <div class="mx-6 sm:mx-8 mt-2 mb-6">
                    Hey!! I never saw this episode, it was amazing.. I think I’m going to buy myself a set and try his technique at home!
                </div>
                <div class="mx-6 sm:mx-8 mb-4">
                    <div class="flex rounded overflow-hidden border">
                        <div class="flex-0 w-40">
                            <img
                                class="w-full h-full object-cover"
                                src="assets/images/cards/35-640x480.jpg"
                                alt="Card cover image">
                        </div>
                        <div class="m-4">
                            <div class="text-lg font-medium">Rob Boss - Season 09 Episode 04</div>
                            <div class="text-secondary mt-1">
                                We'll put a happy little sky in here. We touch the canvas, the canvas takes what it wants. A little happy sunlight shining through there.
                            </div>
                            <div class="text-sm text-hint mt-2">example.com</div>
                        </div>
                    </div>
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5 text-red-500"
                            [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span class="ml-2">Unlike</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span class="ml-2">Comment</span>
                    </button>
                    <button
                        class="px-3 mr-1"
                        mat-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span class="ml-2">Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg"
                            alt="Card cover image">
                        <img
                            class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg"
                            alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button
                            class="px-3 mr-1 -ml-2 sm:ml-0"
                            mat-button>
                            4 shares
                        </button>
                        <button
                            class="px-3 sm:-mr-3"
                            mat-button>
                            No comments
                        </button>
                    </div>
                </div>
            </fuse-card> -->

        </div>

    </div>

</div>
